*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    width:100%;
    height: 100%;
    margin:0px;
    padding:0px;
    font-family: 'Calibri';
}
button,input,textarea,select:focus,select{
    outline: none;
    
}
a,a:hover,a:focus{
    text-decoration:none;
    
}
ul,li{
    list-style: none;

}

.text-blue{
    color:map-get($theme-colors , secondary ) !important;
}
.text-dark-gray{
    color:$gray-2;
}
.right-position{
    right:0;
}
.left-position{
    right:0;
}
.font-700{
    font-weight: map-get($font-weight , bold );
}
.bg-dark-pink{
    background-color: $dark-pink;
}
