
$theme-colors: (
    "primary": #ee5b65,
    "secondary": #232840,
    
    
  );
$dark-pink:#ee5b65;
$white:#fff;
$gray:#f6f6f6;
$dark-gray:#d6d7db;
$gray-2:#505052;
$blue-1:#3F5BD1;
$black:#000;
$dark-blue: #232840;
$blue-2:#0E3754;
$light-blue:#1896F8;
$red:#F00B0B;