@import "colors";
@import "variable";
@import "mixin";
@import "buttons";
@import "base";

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    background: rgb(251 251 251 / 84%);
    box-shadow: 0px -20px 16px 13px #696868;
    
    .logo {
        
       span:last-child{
            opacity: 0;
            @include transition(0.3s);
            position: absolute;
            width: 0px;
        }
        .logo-icon{
            width:45px;
            @include transition(0.3s);
        }
        
    }
  } 
  .logo{
      text-align: center;
      span{
        @include transition(0.1s);
      }
  }
  .logo-icon{
    width: 35px;
    display: block;
    margin: 0px auto;
      img{
          max-width: 100%;
      }
  }

.cart-product{
    padding:20px;
    @media (min-width:767px){
        padding:50px;
    }
    td{
    vertical-align: middle;
    padding-bottom: 25px;
    }
}
.product-detail{
    display: flex;
    align-items: center;
    position: relative;
    width:105px;
.product-avtar{
    width:100px;
    height: 100px;
    img{
        max-width: 100%;
    margin-top: 30px;
    }
    }
    .remove-icon{
        font-size: 18px;
        position: absolute;
        top: 0;
        right: 5px;       
        cursor: pointer;
        width: 25px;
        height: 25px;
        padding: 2px;
        z-index: 1;
        span{
            background-color: $white;
            @include transition(0.3s);
            width: 100%;
            height: 100%;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $gray-2;
        } 

        &:after{
            content:'';
            position: absolute;
            border-radius: 50px;
            background-color: $dark-pink;
            box-shadow: inset -5px -5px 10px darken($dark-pink, 10%),
            inset 5px 5px 10px lighten($dark-pink, 10%);
            width:100%;
            height:100%;
            top:0;
            z-index: -1;
            left:0;
        }
        &:hover span{
            color:$white;
            background-color: $dark-pink;
        }
    }
}
.product-name{
    font-size:18px;
    span{
        font-size: 12px;
    }
}

.form-box{   
    background-color: $gray;
    @include transition(0.3s);
    width: 100%;
    height: auto;
     display: flex;
    justify-content: center;
    align-items: center;
    color: $gray-2;
    outline: none;
    box-shadow: inset 8px 8px 8px lighten($gray-2, 50%),
    inset -8px -8px 8px $white;
    input{
        outline: none;
        border: none;
        width: 100%;
        background: transparent;
    }
    textarea{
        outline: none;
        border: none;
        width: 100%;
        background: transparent;
    }
}
.sidebar_widegs{
    position: sticky;
    top: 70px;
    h4{
        font-size: 30px;
         @media(min-width:767){
        font-size: 24px;
    }
    }
}
.cart-list{
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding-bottom: 25px;
    align-items: center;
    @media(min-width:767){
        font-size: 20px;
    }
    &:last-child{
        margin-top:30px;
    }
    input{
        width:100px;
        background: transparent;
        box-shadow: none;
    }
    button{
        &:after{
            box-shadow: inset -5px -5px 10px darken($gray-2, 5%),
        inset 5px 5px 10px lighten($gray-2, 50%);
        background-color: transparent;
        }
    span:hover{
        background-color: $gray-2;
    }
    }
}

.handle-counter {
    width: 50px;
    display: flex;
    position: relative;
    color: #fff;
    font-size: 16px;
    align-items: center;
    input{
        width: 100%;
    text-align: center;
    background: transparent;
    border: none;
    color:$white;
    }
    button{
        position: absolute;
        padding: 0;
        color:$white;
        font-size: 20px;
    &.counter-minus{ 
        left:0;
    }
    &.counter-plus{
        right:0;
    }
    } 
}
.sidebar-fixed
{
    position: fixed;
    top: 56px;
    z-index: 999;
    height: 100%;
    width: 225px; 
    right: 0;
    box-shadow: 6px 16px 14px $black;
    background-color: $white;    
    transform: translateX(240px);
    .sidebar_widegs{
       top:0px;
       position: static;
    }
    @include transition(0.3s);
    &.active{
    transform: translateX(0);
    
    }
}
.arrow-element{
   font-size: 24px;
    padding: 20px 20px 0px;
    cursor: pointer; 
}
@media(min-width:767px){
    .sidebar-fixed
    {
        display: none;
    }
}

/**header*/
.header-inner{
    padding-bottom: 0px;
    margin: 0px;
        li{
            padding: 0px 10px;
            a{
                color:$dark-pink;
                font-size: 18px;
            }
        }
} 